/*********REGOLE GENERALI**** */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  color: white;
  /* height: 100vh; */

}

a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    
}

img{
    display:block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h5{
    font-weight:lighter;
}
/********** REGOLE SEZIONE MAIN*********** */

/********Regole macro*************/
#main{
    display: flex;
    padding-bottom: 50px;
    /* DEBUG */
    /* background-color: chartreuse; */

}

.col{
   /* height: 100%; */
    /* DEBUG */
    /* background-color: blue; */
    /* min-height: 300px; */
    min-width: 200px;
}

#banner{
    position: fixed;
    top:0;
    left:200px;
    z-index: 100;
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 20px ;
}


.btn{
     
    border-radius: 30px;
    border: 1px solid white;
    padding: 5px 20px;
    font-size: 10px;
}


/****** regole menu nav********* */
#sx{
    padding: 1% 1% 0 1%;
    width: 200px;
    /* height: 100vh; */
    background-color: black;    
}

nav{
    padding: 10px;
}

nav > *{
    margin-bottom: 20px;
}

#logo{
    width: 75%;
    text-align: center;
}

nav li{
    font-size: 15px;
    margin: 10px 0;
    list-style-type: none;
}

#play{
    overflow-y: auto;
    height:calc( 100vh - 350px) ;
}

#play > *{    
    margin-bottom: 20px;
}

.fa-square-plus{
    font-size: 30px;
}

#play h4,#app{
    margin-top: 10px;
    font-size: 13px;
    font-weight: lighter;
}

/******* REGOLE LESTE ALBUM ********/

#dx{
    padding: 1%;
    margin-top: 70px;
    width: calc(100% - 200px);
    background-color: rgb(88, 85, 85);
}

#genere{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: rgb(199, 196, 196);
    text-transform: uppercase;
    font-size: 10px;
}

#genere span{
    cursor: pointer;
}

#container-played{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
   gap: 10px;
    
}

.album{
    width: calc(100% / 6 - 10px);
    text-align: center;
    /* debug */
    min-width: 100px;
    /* min-height: 100px; */
    /* background-color: aqua; */
}



.album>*{
    margin-bottom: 10px ;
}

#container-crt{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col-crt{
    width: 16%;
    margin: 30px 0 ;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    /* debug */
    /* background-color: rgb(35, 158, 97); */
}

#cont-pop{
    display: flex;
    gap: 10px;
}

.col-pop{
    margin: 30px 0 ;
    width: 16%;
    min-width: 150px;
    min-height: 150px;
    /* debug */
    
    /* background-color: chocolate; */
}


.col-pop img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/******* REGOLE SEZIONE PLAYER********** */

#player{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(68, 68, 68);
    
   
}