/*********REGOLE GENERALI**** */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  color: white;
  

}

a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    
}

img{
    display:block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h5{
    font-weight:lighter;
}
/********** REGOLE SEZIONE MAIN*********** */

/********Regole macro*************/
#main{
    display: flex;
    padding-bottom: 50px;
    

}

.col{
   
    min-width: 200px;
}

#banner{
    position: fixed;
    top:0;
    left:200px;
    z-index: 100;
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 20px ;
}


.btn{
     
    border-radius: 30px;
    border: 1px solid white;
    padding: 5px 20px;
    font-size: 10px;
    text-transform: uppercase;
}


/****** regole menu nav********* */
#sx-620{
    display: none;
}


#sx{
    padding: 1% 1% 0 1%;
    width: 200px;
    background-color: black;    
}

nav{
    padding: 10px;
}

nav > *{
    margin-bottom: 20px;
}

#logo{
    width: 75%;
    text-align: center;
}

nav li{
    font-size: 15px;
    margin: 10px 0;
    list-style-type: none;
}

#play{
    overflow-y: auto;
    height:calc( 100vh - 350px) ;
}

#play > *{    
    margin-bottom: 20px;
}

.fa-square-plus{
    font-size: 30px;
}

#play h4,#app{
    margin-top: 10px;
    font-size: 13px;
    font-weight: lighter;
}

/******* REGOLE LiSTE ALBUM ********/

#dx{
    padding: 1%;
    margin-top: 70px;
    width: calc(100% - 200px);
    background-color: rgb(88, 85, 85);
}

#genere{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: rgb(199, 196, 196);
    text-transform: uppercase;
    font-size: 10px;
}

#genere span{
    cursor: pointer;
}

#container-played{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.album{
    width: calc(100% / 6 - 10px);
    text-align: center;
    min-width: 100px;
    position: relative;
    
}

.album>*{
    margin-bottom: 10px ;
}

#container-crt{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col-crt{
    width: 16%;
    margin: 30px 0 ;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
   
}

#cont-pop{
    display: flex;
    gap: 10px;
    
}

.col-pop{
    margin: 30px 0 ;
    min-width: 200px;
    min-height: 200px;
    
}


.col-pop img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.album .fa-play{
    font-size: 50px;
}
/*********** REGOLE MENU SX -568******** */

@media screen and (max-width: 630px){
    #sx-620{
        display: block;
        background-color: black;
        width: 50px;
        text-align: center;
    }
    #loghi i{
        display: block;
        margin: 30px 0;
        height: 100%;
        cursor: pointer;
        
    }

    #loghi{
        position: fixed;
        top: 15px;
        left: 15px
    }

    #banner{
        width: calc(100% - 50px);
        left: 50px;
    }
    #sx{
        display: none;
    }

    #dx{
        width: calc(100% - 50px);
    }

    #loghi img{
        width: 20px;
        margin: 10px auto;
        cursor: pointer;
    }

    #profilo{
        position: fixed;
        bottom: 75px;
        left: 15px;
    }

    #profilo i{
        display: block;
        margin: 30px 0;
        cursor: pointer;

    }
}



/*********** REGOLE VERSIONE TABLET SEZIONE ALBUM 800px ******/
@media screen and (max-width: 800px) {
    .album {
        width: calc(50% - 10px)
    }

    .col-crt {
        width: 45%;
    }

    .col-pop img{
        width: 100px;
        height: 100px;   
    }
    
    .col-pop{
        min-width: 100px;
        min-height:100px;
    }
    
}
/******* REGOLE SEZIONE PLAYER********** */

#player{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(68, 68, 68);
    padding: 5px;
    font-size: 15px;
   
}

.col-ply{
    
    /* min-height: 30px;
    min-width: 30px; */
    
}   

.cont-play{
    display: flex;
    gap: 15px;
    align-items: center;
}

#like{
    margin: 0 30px;
    cursor: pointer;
}

.fa-play{
    width: 15px;
}

.tools{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

.bar-cont{  
    width: 250px;
    background-color: grey;
    border: 30px;
    height: 2px;

}

.bar{
    width: 25%;
    background-color: white;
    border: 30px;
    height: 2px;
    overflow: hidden;
}

#bar-spec{
    width: 100px;
}

.fa-play{
    font-size: 30px;
}
/* regole player 630px */
@media screen and (max-width:800px){

#player,.fa-play{
    font-size: 15px;
    text-align: center;
}

.bar-cont{
    width: 100px;
    
}

.tools{
    gap: 10px;
    margin-top: 15px;
}

}

/******regole hover ***************/

.album:hover .hov{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.hov{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    
}

.hsha:hover {
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
    cursor: pointer;
}   

.zoom:hover {
    transform: scale(1.3);
}


/*****************REGOLE ACTIVE**************/
.att:active{
    border-left: 3px solid greenyellow;
    margin: 0 2px;
}

.bot-att:active{
    border-bottom: 3px solid greenyellow;
}

